extends layout

block content
    .container.writing-form
         form(action="/article/edit/submit", method="post")
            .form-group
                .input-group
                    span.input-group-addon#basic-addon1 标题
                    input#article-id(type="text", name="id", value="#{article._id}")
                    input(type="text", name="title", class="form-control" placeholder="请输入标题", aria-describedby="basic-addon1", value="#{article.title}", required)
                br
                .input-group
                    span.input-group-addon#basic-addon1 摘要
                    input(type="text", name="abstract", class="form-control" placeholder="请输入文章摘要", aria-describedby="basic-addon1", value="#{article.abstract}", required)
            .form-group
                textarea.form-control(name="body", rows="10", required) #{article.body}
            .form-group
                button(type="submit", class="btn btn-primary") 提交
