doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel="stylesheet", href="/stylesheets/ie10-viewport-bug-workaround.css")
    link(rel="stylesheet", href="/stylesheets/blog.css")
    link(rel="stylesheet", href="/stylesheets/font-awesome.min.css")
  body
    .blog-masthead
        .container
            nav.blog-nav
                a.blog-nav-item(href="/") 封面
                a.blog-nav-item(href="/article") 文章
                if isAdmin == true
                    a.blog-nav-item(href="/article/create") 写文章
                a.blog-nav-item(href="/about") 关于我
                if isAdmin == true
                    a.blog-nav-item(href="/message") 消息
                if isAdmin == true
                    a.blog-nav-item.admin-signout(href="/adminSignout") 管理员登出
                else
                    a.blog-nav-item.admin-signin(data-toggle="modal", data-target="#signin-modal") 管理员登录

    block content

    // modal window
    .modal.fade#signin-modal
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    h4.modal-title 请登录
                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                .modal-body
                    .container.form-container
                        form.form-signin(action="/adminSignin", method="post")
                            label.sr-only(for="inputEmail") 电子邮箱
                            input#inputEmail.form-control(type="email", name="email", placeholder="邮箱地址", required, autofocus)
                            label.sr-only(for="inputPassword") 密码
                            input#inputPassword.form-control(type="password", name="password", placeholder="密码", required)
                            .checkbox
                                label
                                    input(type="checkbox", value="remember-me")
                                    记住我
                            button.btn.btn-lg.btn-primary.btn-block(type="submit") 登录
    // modal window

    footer.blog-footer
        p
            | Blog template built for
            a(href="http://getbootstrap.com")  Bootstrap
            |  by
            a(href="https://twitter.com/mdo")  @mdo
            | .
        p
            a(href='#') Back to top

    //
        Bootstrap core JavaScript
        ==================================================
        Placed at the end of the document so the pages load faster
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/ie10-viewport-bug-workaround.js')
