.title-link:hover{
    text-decoration: none;
}
.article-list{
    margin-top: 50px;
}
.article-show{
    margin-top: 100px;
}
.writing-form{
    margin-top: 100px;
    margin-bottom: 100px;
}
.button-container{
    margin-top: 20px;
}
.button-container button{
    margin-right: 10px;
}
.article-id{
    display: none;
}
.site-wrapper .masthead .inner{
    text-align: left;
}
.masthead .admin-signin{
    text-decoration: none;
    cursor: pointer;
}
.masthead .admin-signout{
    text-decoration: none;
    cursor: pointer;
}
#signin-modal{
    color: #000;
}
#signin-modal .form-container{
    width: 360px;
}
#signin-modal .checkbox{
    text-align: left;
}
.blog-masthead .admin-signin{
    float: right;
    text-decoration: none;
    cursor: pointer;
}
.blog-masthead .admin-signout{
    float: right;
    text-decoration: none;
    cursor: pointer;
}
.comment-containner{
    margin-bottom: 100px;
}
.comment-containner a{
    float: right;
}
.avatar{
    width: 200px;
    height: 200px;
}
.resume{
    margin-top: 40px;
}
.resume a{
    margin-left: 20px;
    cursor: pointer;
}
.aboutme-container{
    margin-top: 50px;
    margin-bottom: 50px;
}
.contact-container{
    margin-top: 50px;
};
.blog-post-meta a:hover{
    text-decoration: none;
}
.message-container{
    margin-top: 50px;
    margin-bottom: 50px;
}
.message-container a{
    float: right;
}
